/* Navbar */
.navbar {
  padding: 8px;
}

.navbar-brand {
  font-size: 2rem;
}

.nav-link {
  font-size: 1.2rem;
  margin-right: 15px;
}

img {
  max-width: 70%;
}

/* Hero Page */
#hero {
  background-image: url("foto2.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

/* Article */
.container {
  margin-top: 50px;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p,
ul,
ol,
.referensi {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 20px;
  text-justify: auto;
  text-align: justify;
}

.gambar {
  margin-left: 70px;
}

.btn-primary {
  font-size: 1.2rem;
  padding: 10px 20px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Related Articles */
.list-group-item {
  background-color: #f8f9fa;
  border-color: #dee2e6;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  position: relative;
  bottom: 0;
}

#about {
  background-color: #dee2e6;
  padding: 30px 0;
}

#about h2 {
  font-size: 36px;
  font-weight: 700;
  color: #343a40;
  margin-bottom: 30px;
}

#about hr {
  border-top: 3px solid #007bff;
  width: 50px;
  margin-bottom: 30px;
}

#about img.rounded-circle {
  margin-bottom: 30px;
}

#about h4 {
  font-size: 24px;
  font-weight: 700;
  color: #343a40;
  margin-bottom: 10px;
}

#about p {
  font-size: 16px;
  font-weight: 400;
  color: #6c757d;
  margin-bottom: 10px;
  text-align: center;
}

footer p {
  margin: 0;
  text-align: center;
}

/* CSS untuk tampilan layar seluler */
/* @media screen and (min-width: 480px) {
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  #navbar ul {
    margin: 0;
    padding: 0;
  }

  #navbar li {
    margin: 10px;
  }

  #footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }

  #about .col-lg-4 {
    margin-bottom: 20px;
  }

  #about img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  #about h4,
  #about p {
    text-align: center;
  }
} */

/* CSS untuk tampilan layar seluler */
@media screen and (max-width: 767px) {
  /* Aturan CSS untuk hero section */
  #hero {
    text-align: center;
    padding: 100px 20px;
  }

  #hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  #hero p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  /* Aturan CSS untuk navbar */
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  #navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #navbar li {
    margin: 0 10px;
  }

  #navbar a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
  }

  /* Aturan CSS untuk about section */
  #about {
    padding: 100px 20px;
    text-align: center;
  }

  #about .col-lg-4 {
    margin-bottom: 20px;
  }

  #about img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  #about h4,
  #about p {
    text-align: center;
  }

  /* Aturan CSS untuk footer */
  #footer {
    padding: 20px;
  }
}

/* CSS untuk tampilan layar yang lebih besar */
@media screen and (min-width: 768px) {
  /* Tampilan layar seluler */
  @media (max-width: 767px) {
    /* Menghilangkan tombol navbar */
    .navbar-toggler {
      display: none;
    }

    /* Membuat hamburger menu */
    .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: static;
      float: none;
      width: 100%;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none;
    }

    /* Mengatur tampilan hamburger menu */
    .navbar-collapse {
      display: block !important;
      position: fixed;
      top: 56px; /* Tambahkan jarak dengan navbar */
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 9999;
      background: #343a40; /* Warna latar belakang hamburger menu */
      overflow-y: auto;
    }

    .navbar-nav {
      margin: 0;
      padding: 0;
    }

    .navbar-nav > li {
      display: block;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    .navbar-nav > li > a {
      display: block;
      color: #fff;
      padding: 10px 15px;
    }

    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus {
      color: #fff;
      background: rgba(0, 0, 0, 0.1);
    }

    .navbar-collapse.in {
      overflow-y: visible;
    }

    /* Aturan CSS untuk hero section */
    #img {
      width: 50%;
    }
    #hero {
      text-align: center;
      padding: 150px 20px;
      width: 100%;
    }

    #hero h1 {
      font-size: 60px;
      margin-bottom: 30px;
    }

    #hero p {
      font-size: 24px;
      margin-bottom: 30px;
    }

    /* Aturan CSS untuk navbar */
    #navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
    }

    #navbar ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
    }

    #navbar li {
      margin: 0 10px;
    }

    #navbar a {
      text-decoration: none;
      color: #000;
      font-size: 16px;
    }

    /* Aturan CSS untuk about section */
    #about {
      padding: 150px 20px;
      text-align: center;
      width: 100%;
    }

    #about .col-lg-4 {
      margin-bottom: 20px;
    }

    #about img {
      width: 100%;
      max-width: 200px;
      height: auto;
      max-width: 50%;
    }

    #about h4,
    #about p {
      text-align: center;
    }

    /* Aturan CSS untuk footer */
    #footer {
      padding: 20px;
      width: 100%;
    }
  }
}
